{% extends '_base.html' %}
{% block content %}
    <ul class="post-list">
        {% for post in object_list %}
            <li class="post-card">
                <a href="{% url 'post_detail' post.pk %}" class="post-title">{{ post.title }}</a>
                
                <p class="post-details"><strong>Autor:</strong> {{ post.author }}</p>
                <p class="post-details"><strong>Creado el:</strong> {{ post.created_at }}</p>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
